<div id="preloader">
  <div class="spinner-border color-highlight" role="status"></div>
</div>

<!-- <div id="page"> -->
<div class="d-flex flex-column">
  <div class="page-content py-0 my-0">
    <div
      class="page-title page-title-small"
      style="margin: 10px 20px 18px 20px"
    >
      <h2 class="font-12" style="font-size: 15px !important">
        <a href="#" data-back-button
          ><i class="fa fa-arrow-left" style="font-size: 14px"></i></a
        >AIRPORT VIP ASSISTANCE
      </h2>
      <!-- <a
        href="#"
        data-menu="sh-menu-cart-pop-item-edit"
        class="icon icon-s rounded-l shadow-xl bg-highlight color-white float-right"
      >
        <i class="fa fa-shopping-bag" style="font-size: 12px"></i>
      </a> -->
    </div>

    <div class="card header-card" data-card-height="150">
      <div class="card-overlay bg-black opacity-0"></div>
      <div class="card-overlay dark-mode-tint"></div>
      <div
        class="card-bg preload-img"
        data-src="assets/images/pictures/29.jpg"
      ></div>
    </div>

    <div
      class="card card-style mb-0"
      style="
        margin: 0px 0px 0px 0px;
        overflow: visible;
        margin: 0px 0px 0px 0px;
      "
    >
      <div class="card mb-0" data-card-height="100vh">
        <div class="bg-12" style="height: 35vh"></div>
      </div>
    </div>
  </div>

  <div
    id="sh-menu-cart-pop-item-edit"
    class="menu menu-box-bottom menu-box-detached rounded-m menu-active"
    data-menu-height="64vh"
    data-menu-effect="menu-over"
    style="bottom: 0px; left: 0px; right: 0px; border-radius: 10% 10% 0% 0%"
  >
    <div class="card card-style bg-theme pb-0" style="margin: 0px 0px 0px 0px">
      <div
        class="content"
        style="
          margin: 24px 0px 0px 0px;
          border-radius: 15% 15% 0% 0% !important;
        "
      >
        <div
          class="tab-controls tabs-round tab-animated tabs-small tabs-rounded shadow-xl d-flex justify-content-center"
          data-tab-items="4"
          data-tab-active="bg-highlight activated color-white"
          style="
            box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0),
              0 0px 0px 0 rgba(0, 0, 0, 0.08) !important;
          "
        >
          <a href="#" data-tab-active data-tab="tab-1">ARRIVÉE</a>
          <a href="#" data-tab="tab-2">DÉPART</a>
          <a href="#" data-tab="tab-3">TRANSIT</a>
        </div>
        <div class="divider divider-margins py-1 my-2"></div>

        <div class="clearfix mb-2"></div>
        <div class="tab-content" id="tab-1" style="-webkit-transform: none">
          <app-rs-arrivee></app-rs-arrivee>
        </div>

        <div class="tab-content" id="tab-2">
          <app-rs-depart></app-rs-depart>
        </div>

        <div class="tab-content" id="tab-3">
          <app-rs-transit></app-rs-transit>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="sh-alert-added-to-cart"
  class="snackbar-toast bg-green1-dark color-white"
  data-delay="3000"
  data-autohide="true"
>
  <i class="fa fa-shopping-cart mr-3"></i>Ajouté avec succès au panier de
  réservations
</div>

<div
  id="sh-menu-cart-pop-item-list"
  class="menu menu-box-bottom menu-box-detached rounded-m"
  data-menu-height="455"
  data-menu-effect="menu-over"
>
  <!-- <app-panier-transport></app-panier-transport> -->
</div>
<!-- </div> -->

<!-- <mat-toolbar color="primary"> My Journey Planner </mat-toolbar> -->
