<div class="content">
  <h2 class="mb-3">Votre panier de réservations</h2>
  <div class="divider mx-0 my-0"></div>
  <p class="font-12 m-0 p-0">
    Appuyer sur une offre pour la modifier ou la supprimer
  </p>

  <a href="#" data-menu="sh-menu-cart-pop-item-edit">
    <div
      class="content border border-dark2-dark rounded-s shadow-xs my-1 mx-0 px-2 py-1"
    >
      <h1 class="mb-n2 font-14 font-700">VIP Airport Service</h1>
      <h1 class="float-right font-700 font-12 mt-n3 mb-0">
        50 000 <sup>FCFA</sup>
      </h1>
      <p class="mb-0 font-10">
        <i
          class="fa fa-question-circle color-highlight scale-icon mr-2 font-14"
        ></i
        >Accueil VIP à l'arrivée
      </p>
      <!-- <p class="mb-n1 font-10">Pour 3 passagers et 4 bagages pour le 01/01/2022 à 16:10</p> -->
    </div>
  </a>
  <div class="divider divider-margins my-2"></div>

  <a href="#" data-menu="sh-menu-cart-pop-item-edit">
    <div
      class="content border border-blue2-dark rounded-s shadow-xs my-1 mx-0 px-2 py-1"
    >
      <h1 class="mb-n2 font-14 font-700">VIP Airport Service</h1>
      <h1 class="float-right font-700 font-12 mt-n3 mb-0">
        50 000 <sup>FCFA</sup>
      </h1>
      <p class="mb-0 font-10">
        <i class="fa fa-check-circle color-highlight mr-2"></i>Accueil VIP au
        départ
      </p>
      <p class="mb-n1 font-10">
        Pour 3 passagers et 4 bagages pour le 01/01/2022 à 16:10
      </p>
    </div>
  </a>
  <div class="divider divider-margins py-1 my-2"></div>

  <h4>Résumé des réservations en cours</h4>
  <!-- <p class="my-0">Valeur totale du panier avec les taxes et TVA incluses</p> -->
  <div class="row mt-2 mb-0">
    <div class="col-6 text-left">
      <h6 class="font-600">Total (TVA incluse)</h6>
    </div>
    <div class="col-6 text-right">
      <h6 class="font-600">100 000 <sup>FCFA</sup></h6>
    </div>
    <!-- <div class="col-6 text-left"><h6 class="font-600">Timbre</h6></div>
      <div class="col-6 text-right"><h6 class="font-600">100 <sup>FCFA</sup></h6></div>
      <div class="col-12"><div class="divider mt-1 mb-2"></div></div>
      <div class="col-6 text-left"><h4>Total à payer</h4></div>
      <div class="col-6 text-right"><h4> 100 100 <sup>FCFA</sup></h4></div> -->
  </div>

  <div class="divider mt-0 mb-2"></div>

  <div class="row">
    <div class="col-6">
      <a
        href="#"
        class="close-menu btn btn-xxs btn-full button-s shadow-l rounded-s text-uppercase font-700 bg-black text-white"
        >Fermer</a
      >
    </div>
    <div class="col-6">
      <a
        href="sh-menu-cart-checkout.html"
        class="btn btn-xxs btn-full button-s shadow-l rounded-s text-uppercase font-700 bg-blue2-dark"
        >Passer au paiement</a
      >
    </div>
  </div>
</div>
