<div id="page">
  <!-- header and footer bar go here-->

  <div class="page-content py-0 my-0">
    <div class="page-title page-title-small">
      <h3 class="vi-white">
        <span (click)="goTo('/car')"
          ><i class="fa fa-arrow-left icon-back"></i></span
        >Détails du passager (2/2)
      </h3>
    </div>

    <div class="card header-card" data-card-height="150">
      <div class="card-overlay bg-black opacity-0"></div>
      <div class="card-overlay dark-mode-tint"></div>
      <div class="card-bg preload-img" data-src="images/pictures/20s.jpg"></div>
    </div>

    <div class="card card-style">
      <div class="content">
        <!-- <h3>Détails du passager</h3> -->
        <div class="input-style input-style-2 mb-3 input-required">
          <em><i class="fa fa-angle-down"></i></em>
          <select class="form-control">
            <option selected disabled>Passagers</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>

        <div class="input-style input-style-2 mb-3 input-required">
          <em><i class="fa fa-angle-down"></i></em>
          <select class="form-control">
            <option selected disabled>Bagages</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </div>

        <div class="input-style input-style-2 input-required mb-3">
          <span class="color-highlight">Requête spéciale</span>
          <!-- <em>(*)</em> -->
          <textarea
            class="form-control"
            type="name"
            placeholder="Ex: +225 07 08 00 77 31"
            rows="10"
          ></textarea>
        </div>
      </div>
    </div>

    <!-- <div class="card card-style">
      <div class="content">
        <h3>Méthode de paiement</h3>
        <div class="input-style input-style-2 mb-3 input-required">
          <em><i class="fa fa-angle-down"></i></em>
          <select class="form-control">
            <option selected disabled>
              Sélectionner une méthode de paiement
            </option>
            <option value="1">Carte de crédit (Visa - Mastercard)</option>
            <option value="2">Mobile Money (Orange - MTN - Flooz)</option>
            <option value="3">Wallet (Wave)</option>
          </select>
        </div>
      </div>
    </div> -->

    <!-- <div class="card card-style">
      <div class="content">
        <h3>Détails de paiement</h3>
        <div class="input-style input-style-2 input-required mb-3">
          <span class="color-highlight">Nom du détenteur de la carte</span>
          <em>(*)</em>
          <input class="form-control" type="text" placeholder="Ex: KONE WIL" />
        </div>
        <div class="input-style input-style-2 input-required mb-3">
          <span class="color-highlight">Numéro de carte</span>
          <em>(*)</em>
          <input
            class="form-control"
            type="number"
            placeholder="Ex: 1234 5678 9012 3456"
          />
        </div>
        <div class="row mb-0">
          <div class="col-7">
            <div class="input-style input-style-2 input-required mb-3">
              <span class="color-highlight">Valide jusqu'au</span>
              <em>(*)</em>
              <input
                class="form-control"
                type="month"
                placeholder="Ex: 12/2025"
              />
            </div>
          </div>
          <div class="col-5">
            <div class="input-style input-style-2 input-required mb-3">
              <span class="color-highlight">CVV</span>
              <em>(*)</em>
              <input class="form-control" type="text" placeholder="Ex: 123" />
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="card mt-4 preload-img mb-0" data-src="images/pictures/20s.jpg">
      <div class="card-body py-4">
        <h2 class="color-white text-center">Confirmer le Paiement</h2>
        <p class="color-white boxed-text-xl">
          Appuyer sur le bouton pour confirmer le paiement
        </p>
        <div class="card card-style mx-0">
          <div class="content">
            <div class="row mt-2 mb-0">
              <div class="col-6 text-left"><h6 class="font-600">Total</h6></div>
              <div class="col-6 text-right">
                <h6 class="font-600">0 <sup>A</sup></h6>
              </div>
              <div class="col-6 text-left">
                <h6 class="font-600 color-blue2-dark">Réduction Fidelux</h6>
              </div>
              <div class="col-6 text-right">
                <h6 class="font-600 color-blue2-dark">
                  -10 000 <sup>FCFA</sup>
                </h6>
              </div>
              <div class="col-12"><div class="divider mt-1 mb-2"></div></div>
              <div class="col-6 text-left"><h4>Total à payer</h4></div>
              <div class="col-6 text-right">
                <h4>90 000 <sup>FCFA</sup></h4>
              </div>
            </div>

            <div class="divider mt-1"></div>

            <button
              (click)="goTo('resum')"
              data-menu="sh-menu-success-2"
              class="btn btn-full btn-m rounded-sm bg-highlight font-800 text-uppercase w-100"
            >
              Continuez
            </button>
          </div>
        </div>
      </div>
      <div class="card-overlay bg-black opacity-95"></div>
      <div class="card-overlay dark-mode-tint"></div>
    </div>
  </div>
  <!-- end of page content-->

  <div
    id="sh-menu-cart-pop-item-edit"
    data-menu-load="sh-menu-cart-pop-item-edit.html"
    class="menu menu-box-bottom menu-box-detached rounded-m"
    data-menu-height="455"
    data-menu-effect="menu-over"
  ></div>

  <div
    id="sh-menu-success-2"
    class="menu menu-box-bottom menu-box-detached bg-blue2-dark rounded-m"
    data-menu-height="305"
    data-menu-effect="menu-over"
  >
    <h3 class="text-center mt-4">
      <i
        class="fa fa-3x fa-check-circle color-white shadow-xl rounded-circle"
      ></i>
    </h3>
    <h5 class="text-center mt-3 text-uppercase font-700 color-white">
      Paiement effectué avec succès
    </h5>
    <p class="my-0 boxed-text-l color-white opacity-70">
      Vous recevrez par email les détails de votre paiement et la confirmation
      de votre réservation
    </p>
    <p class="my-0 boxed-text-l color-white opacity-70">
      Merci de votre confiance
    </p>
    <a
      href="sh-reservation.html"
      class="my-2 btn btn-m btn-center-m button-s shadow-l rounded-s text-uppercase font-900 bg-white"
      >Terminer</a
    >
  </div>
</div>
