<div class="theme-light" data-highlight="blue2">
  <div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
  </div>

  <div id="page">
    <!-- header and footer bar go here-->

    <div class="page-content py-0 my-0">
      <div class="page-title page-title-small">
        <h2 class="font-12">
          <a href="#" data-back-button><i class="fa fa-arrow-left"></i></a
          >Paiement - Vérification
        </h2>
      </div>

      <div class="card header-card" data-card-height="150">
        <div class="card-overlay bg-black opacity-0"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div
          class="card-bg preload-img"
          data-src="images/pictures/20s.jpg"
        ></div>
      </div>

      <div class="card card-style">
        <div class="content">
          <h2 class="mb-3">Réservations en attente</h2>
          <div class="divider divider-margins py-1 my-2"></div>

          <a href="#" data-menu="sh-menu-cart-pop-item-edit">
            <div
              class="content border border-blue2-dark rounded-s shadow-xs my-1 mx-0 px-2 py-1"
            >
              <h1 class="mb-n2 font-14 font-700">VIP Airport Service</h1>
              <h1 class="float-right font-700 font-12 mt-n3 mb-0">
                50 000 <sup>FCFA</sup>
              </h1>
              <p class="mb-0 font-10">
                <i class="fa fa-check-circle color-highlight mr-2"></i>Accueil
                VIP au départ
              </p>
              <p class="mb-n1 font-10">Numéro de Vol : AF702</p>
              <p class="mb-n1 font-10">Date de Vol : 26/10/2022</p>
              <p class="mb-n1 font-10">Heure de Vol : 16:10</p>
              <p class="mb-n1 font-10">Date d'arrivée prévue : 26/10/2022</p>
              <p class="mb-n1 font-10">Heure d'arrivée prévue : 23:30</p>
              <p class="mb-n1 font-10">Aéroport d'arrivée : Aéroport FHB</p>
              <p class="mb-n1 font-10">Nom du voyageur : Kouame</p>
              <p class="mb-n1 font-10">Prénom du voyageur : Eva</p>
              <p class="mb-n1 font-10">Classe du Voyageur : Business</p>
              <p class="mb-n1 font-10">Panneau d'accueil : Famille TRAORE</p>
              <p class="mb-n1 font-10">Personnes à accueillir : 3</p>
              <p class="mb-n1 font-10">Bagages à transporter : 4</p>
              <p class="mb-n1 font-10">Référence Client : SH_CPR_872</p>
              <p class="mb-n1 font-10">Partenaire de service : Sherylux</p>
              <p class="mb-n1 font-10">Requête spécifique : -</p>
            </div>
          </a>

          <div class="divider divider-margins my-2"></div>

          <a href="#" data-menu="sh-menu-cart-pop-item-edit">
            <div
              class="content border border-blue2-dark rounded-s shadow-xs my-1 mx-0 px-2 py-1"
            >
              <h1 class="mb-n2 font-14 font-700">VIP Airport Service</h1>
              <h1 class="float-right font-700 font-12 mt-n3 mb-0">
                50 000 <sup>FCFA</sup>
              </h1>
              <p class="mb-0 font-10">
                <i class="fa fa-check-circle color-highlight mr-2"></i>Accueil
                VIP à l'arrivée
              </p>
              <p class="mb-n1 font-10">Numéro de Vol : AF702</p>
              <p class="mb-n1 font-10">Date de Vol : 26/10/2022</p>
              <p class="mb-n1 font-10">Heure de Vol : 16:10</p>
              <p class="mb-n1 font-10">Date d'arrivée prévue : 26/10/2022</p>
              <p class="mb-n1 font-10">Heure d'arrivée prévue : 23:30</p>
              <p class="mb-n1 font-10">Aéroport d'arrivée : Aéroport FHB</p>
              <p class="mb-n1 font-10">Nom du voyageur : Kouame</p>
              <p class="mb-n1 font-10">Prénom du voyageur : Eva</p>
              <p class="mb-n1 font-10">Classe du Voyageur : Business</p>
              <p class="mb-n1 font-10">Panneau d'accueil : Famille TRAORE</p>
              <p class="mb-n1 font-10">Personnes à accueillir : 3</p>
              <p class="mb-n1 font-10">Bagages à transporter : 4</p>
              <p class="mb-n1 font-10">Référence Client : SH_CPR_872</p>
              <p class="mb-n1 font-10">Partenaire de service : Sherylux</p>
              <p class="mb-n1 font-10">Requête spécifique : -</p>
            </div>
          </a>

          <div class="divider divider-margins py-1 my-2"></div>

          <div class="card mt-2 mb-0">
            <button
              (click)="goTo('paiement')"
              class="btn btn-full btn-m rounded-sm bg-highlight font-800 text-uppercase"
            >
              Confirmer les informations
            </button>
          </div>

          <div class="divider mt-0 mb-2"></div>
        </div>
      </div>
    </div>
    <!-- end of page content-->

    <div
      id="sh-menu-cart-pop-item-edit"
      data-menu-load="sh-menu-cart-pop-item-edit.html"
      class="menu menu-box-bottom menu-box-detached rounded-m"
      data-menu-height="455"
      data-menu-effect="menu-over"
    ></div>

    <div
      id="sh-menu-success-2"
      class="menu menu-box-bottom menu-box-detached bg-blue2-dark rounded-m"
      data-menu-height="305"
      data-menu-effect="menu-over"
    >
      <h3 class="text-center mt-4">
        <i
          class="fa fa-3x fa-check-circle color-white shadow-xl rounded-circle"
        ></i>
      </h3>
      <h5 class="text-center mt-3 text-uppercase font-700 color-white">
        Paiement effectué avec succès
      </h5>
      <p class="my-0 boxed-text-l color-white opacity-70">
        Vous recevrez par email les détails de votre paiement et la confirmation
        de votre réservation
      </p>
      <p class="my-0 boxed-text-l color-white opacity-70">
        Merci de votre confiance
      </p>
      <!-- <a href="sh-reservation.html" class="my-2 btn btn-m btn-center-m button-s shadow-l rounded-s text-uppercase font-900 bg-white">Terminer</a> -->
      <a
        href="#"
        class="my-2 btn btn-m btn-center-m button-s shadow-l rounded-s text-uppercase font-900 bg-white"
        >Terminer</a
      >
    </div>
  </div>
</div>
