<!-- <div class="page-content py-0 my-0" style="min-height: 0px !important"> -->
<div class="card card-style bg-theme pb-0" style="margin: 0px 0px 0px 0px">
  <div
    class="content"
    style="margin: 24px 0px 0px 0px; border-radius: 15% 15% 0% 0% !important"
  >
    <div
      class="tab-controls tabs-round tab-animated tabs-small tabs-rounded shadow-xl d-flex justify-content-center"
      data-tab-items="4"
      data-tab-active="bg-highlight activated color-white"
      style="
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0),
          0 0px 0px 0 rgba(0, 0, 0, 0.08) !important;
      "
    >
      <a href="#" data-tab-active data-tab="tab-1">Simple</a>
      <a href="#" data-tab="tab-2">À l'heure</a>
    </div>
    <div class="clearfix mb-2"></div>
    <div class="tab-content" id="tab-1" style="-webkit-transform: none">
      <div class="content">
        <div class="col-12">
          <div class="input-style-2 input-required">
            <span class="input-style-1-active">Départ</span>

            <input
              type="text"
              placeholder="Entrer votre lieu de prise en charge"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="input-style-2 input-required">
            <span class="input-style-1-active">Arrivée</span>
            <input type="text" placeholder="Entrer votre lieu d'arrivée" />
          </div>
        </div>
        <!-- <div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div> -->
        <div class="col-12">
          <div class="input-style-2 input-required">
            <span class="input-style-1-active">Date de départ</span>
            <input type="date" value="2022-08-26" style="height: 45px" />
          </div>
        </div>
        <div class="col-12">
          <div class="input-style-2 input-required">
            <span class="input-style-1-active">Heure de départ</span>
            <input type="time" value="23:30" style="height: 45px" />
          </div>
        </div>
        <a
          href="#"
          class="close-menu btn btn-full bg-highlight rounded-sm shadow-xl btn-m text-uppercase font-900 mb-2"
          style="padding: 6px 20px !important"
          >Valider</a
        >
        <!-- <div class="divider my-2"></div> -->
        <!-- <a
            href="#"
            class="close-menu btn btn-full bg-gransparent color-red2-dark btn-m text-uppercase font-900 mb-2"
            >Supprimer</a
          > -->
      </div>
    </div>

    <div class="tab-content" id="tab-2">
      <p class="bottom-0">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
    </div>
  </div>
</div>
<!-- </div> -->
