@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.icon-back {
  font-size: large;
  margin-right: 12px;
}

.vi-white {
  color: #ffffff;
}

.fs1 {
  font-size: 1px;
}
.fs2 {
  font-size: 2px;
}
.fs3 {
  font-size: 3px;
}
.fs4 {
  font-size: 4px;
}
.fs5 {
  font-size: 5px;
}
.fs6 {
  font-size: 6px;
}
.fs7 {
  font-size: 7px;
}
.fs8 {
  font-size: 8px;
}
.fs9 {
  font-size: 9px;
}
.fs10 {
  font-size: 10px;
}
.fs11 {
  font-size: 11px;
}
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
.fs17 {
  font-size: 17px;
}

.margin0 {
  margin: 0px 0px 0px 0px;
}

.colorRed {
  color: red;
}

.colorGreen {
  color: green;
}
.scrollableDiv300 {
  max-height: 300px; /* Ajustez la hauteur maximale selon vos besoins */
  overflow-y: auto; /* Ajoute une barre de défilement vertical si nécessaire */
}

.resTermine {
  border: solid 1px green;
  border-radius: 5px;
  margin: 40px;
  padding: 2px;
}

.resAnnule {
  border: solid 1px red;
  border-radius: 5px;
  margin: 40px;
  padding: 2px;
}

.resaVenir {
  border: solid 1px black;
  border-radius: 5px;
  margin: 40px;
  padding: 2px;
}
