<div class="theme-light" data-highlight="blue2">
  <div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
  </div>

  <div id="page">
    <!-- header and footer bar go here-->

    <div class="page-content py-0 my-0">
      <div class="page-title page-title-small">
        <!-- <h2 class="font-12"><a href="#" data-back-button></a>Succès</h2> -->
        <!-- <br /> -->
      </div>

      <div class="card header-card" data-card-height="150">
        <div class="card-overlay bg-black opacity-0"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div
          class="card-bg preload-img"
          data-src="images/pictures/20s.jpg"
        ></div>
      </div>

      <div class="card card-style">
        <div class="content">
          <h2 class="mb-3 text-center">Votre panier de réserv</h2>
          <div class="divider mx-0 my-0"></div>
          <p class="font-12 m-0 p-0">
            Appuyer sur une offre pour la modifier ou la supprimer
          </p>

          <a href="#">
            <div
              class="content border border-blue2-dark rounded-s shadow-xs my-1 mx-0 px-2 py-1"
            >
              <h1 class="mb-n2 font-14 font-700">VIP Airport Service</h1>
              <h1 class="float-right font-700 font-12 mt-n3 mb-0">
                50 000 <sup>FCFA</sup>
              </h1>
              <p class="mb-0 font-10">
                <i class="fa fa-check-circle color-highlight mr-2"></i>Accueil
                VIP à l'arrivée
              </p>
              <p class="mb-n1 font-10">
                Pour 3 passagers et 4 bagages pour le 01/01/2022 à 16:10
              </p>
            </div>
          </a>

          <div class="divider divider-margins my-2"></div>

          <a href="#">
            <div
              class="content border border-blue2-dark rounded-s shadow-xs my-1 mx-0 px-2 py-1"
            >
              <h1 class="mb-n2 font-14 font-700">VIP Airport Service</h1>
              <h1 class="float-right font-700 font-12 mt-n3 mb-0">
                50 000 <sup>FCFA</sup>
              </h1>
              <p class="mb-0 font-10">
                <i class="fa fa-check-circle color-highlight mr-2"></i>Accueil
                VIP au départ
              </p>
              <p class="mb-n1 font-10">
                Pour 3 passagers et 4 bagages pour le 01/01/2022 à 16:10
              </p>
            </div>
          </a>

          <div class="divider my-2"></div>
          <h5>Réduction Fidelux</h5>

          <div class="input-style input-style-2 input-required">
            <span class="color-highlight">Numéro de carte Fidelux</span>
            <em> </em>
            <input
              class="form-control"
              type="text"
              placeholder="SH_FDL_131676"
            />
          </div>

          <div class="divider divider-margins py-1 my-2"></div>

          <!-- <h4>Résumé des réservations en cours</h4>
          <p class="my-0">Montant avec TVA incluse</p> -->
          <!-- <div cc -->

          <!-- <div class="divider my-2"></div>

          <div class="d-flex justify-content-around">
            <button
              class="btn btn-full btn-m rounded-sm bg-highlight font-800 text-uppercase"
            >
              Accueil</button
            ><button
              class="btn btn-full btn-m rounded-sm bg-highlight font-800 text-uppercase"
            >
              Historique
            </button>
          </div> -->
        </div>
      </div>
    </div>
    <div
      id="sh-menu-success-2"
      class="menu menu-box-bottom menu-box-detached bg-blue2-dark rounded-m menu-active"
      data-menu-height="305"
      data-menu-effect="menu-over"
    >
      <h3 class="text-center mt-4">
        <i
          class="fa fa-3x fa-check-circle color-white shadow-xl rounded-circle"
        ></i>
      </h3>
      <h5 class="text-center mt-3 text-uppercase font-700 color-white">
        Paiement effectué avec succès
      </h5>
      <p
        class="my-0 boxed-text-l color-white opacity-70"
        style="text-align: justify"
      >
        Vous recevrez par email les détails de votre paiement et la confirmation
        de votre réservation email les détails de votre paiement
      </p>
      <p class="my-0 boxed-text-l color-white opacity-70">
        Merci de votre confiance
      </p>
      <div class="d-flex justify-content-around">
        <button
          (click)="goTo('home')"
          class="my-2 btn btn-m btn-center-m button-s shadow-l rounded-s text-uppercase font-900 bg-white"
        >
          Accueil
        </button>
        <button
          (click)="goTo('historique')"
          class="my-2 btn btn-m btn-center-m button-s shadow-l rounded-s text-uppercase font-900 bg-white"
        >
          Historique
        </button>
      </div>
    </div>
  </div>
</div>
